# Dependencies
/node_modules/
/server/node_modules/
/workout_tracker/node_modules/

# Environment Variables
.env
server/.env
workout_tracker/.env

# Build/Cache Output
/dist/
/build/
/workout_tracker/dist/
/workout_tracker/.vite/

# Other common ignores
*.log
.DS_Store
.vscode/