.workoutName {
    font-size: 36px;
    font-weight: 400;
    border: none;
    padding: 0;
    margin: 0;
    width: 80vw;
}
.extra p{
    margin-bottom: 0;
}

.picker{
    margin: 0;
    width: 35vw;
    padding:20px;
}
.notes{
    background-color: #a1aea229;
    padding: 35px;
    margin: 5vw 0;
    color: rgb(96, 96, 96);
    font-size: 20px;
    border: none;
}
.beside {
    display: flex;
    align-items: center;
    gap: 10px;
}