.label{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    padding: 7px;
    gap: 5px;
}

.label p{
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}
.btn{
    width: 92vw;
    height: 7vh;
    border: none;
    border-radius: 2vh;
    background-color: var(--darkBlue);
    color: white;
    margin: 2vh 0;
    font-size: 18px;
    letter-spacing: 2px;
}
form h3{
    font-weight: 400;
    display: flex;
    justify-content: center;
}
form a{
    font-weight: 600;
}

    